

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container.content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    background-color: #155724;
}

.jumbotron {
    background-color: #A5D6A7;
    color: #022a02;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #81C784;
    color: #001B00;
    padding: 20px;
}

.gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
 }



.custom-button {
    position: relative;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-button:hover {
    background-color: #04e49c;
    color: white;
    

  }

